 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

 #map {
 	height: 400px;
 }

 /* Optional: Makes the sample page fill the window. */

 html, body {
 	height: 100%;
 	margin: 0;
 	padding: 0;
 }

 /* background image */

 body {
 	background: url('../images/eberhard-grossgasteiger-521851-unsplash.jpg')no-repeat bottom center fixed;
 	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
 	background-color: black;
 	color: rgba(255, 255, 255, 0.699);
 }

 /* Navbar Color */

 .navbar-default {
 	background: rgba(0, 0, 0, 0.664);
 	border: 0px;
 	border-radius: 0;
 }

 /* Panel Header */

 .panel-default .panel-heading {
 	background: transparent;
 	border-color: rgba(0, 0, 0, 0.664);
 }

 /* Border on panels */

 .panel-default {
 	background: transparent;
 	/* background: rgba(0, 0, 0, 0.219); */
 	border: 0px;
 }

 /* Panel Title Font */

 /* .panel-title {
	 color: rgba(255, 255, 255, 0.699);
	 color: white;
	 text-shadow: 
	 1px 1px 1px #000,
	 1px 1px 1px #000,
	 1px 1px 1px #000,
	 1px 1px 1px #000;
 } */

 /* table border */

 .table thead tr th {
 	border-bottom: 1px solid rgba(0, 0, 0, 0.664);
 }

 /* footer */

 .panel-footer {
 	background: rgba(0, 0, 0, 0.664);
 	border: 0px;
 	margin-bottom: 0;
 	height: 40px;
 	border-radius: 0;
 }

 /* Panel Body */

 /* Make user image 40px x 40px */

 .userImage {
 	max-height: 40px;
 	max-width: 40px;
 	margin: 2px;
 }

 .fixed72 {
 	max-height: 72px;
 }

/* added shadowing, we can remove or alter */
 h3, th, form, b, tbody, .panel-title {
	color: white;
	text-shadow: 
	1px 1px 1px #000,
	1px 1px 1px #000,
	1px 1px 1px #000,
	1px 1px 1px #000;
 }

 .navbar-default .navbar-brand {
	margin-top: 8px;
	font-size: 30px;
	color: rgba(255, 255, 255, 0.822);
 }

 #firebaseui-auth-container {
	 max-width: 150px;
	 float: right!important;
	 margin-right: 10px;
 }

 #sign-in {
	float: right!important;
 }

 #account-details {
	float: right!important;
 }

 .firebaseui-card-content {
	 padding: 0!important;
 }

 .firebaseui-idp-list {
	 margin: 5px 0!important;
 }

 #mode {
	 background: black;
 }

 #directionsPanel {
	background: rgba(255, 255, 255, 0.699);
}
